*{margin: 0;padding: 0;box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}

body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: #fcf2c1;
}
.code-wrapper{
    width: 30%;
    color: white;
}
.preview-wrapper{
    flex: 1;
    width: 70%;

}



  .bigCat .head{
    width:270px;
    height:230px;
    background:#242424;
    border-radius:55% 55% 50% 50%;
    position: relative;
    top:60px;
    box-shadow: 0px 4px 8px -6px #111;
    z-index: 2;
  }
 .hair{
     position: relative;
 }
  .hair::after{
    content: "";
    width: 70px;
    height: 70px;
    background:#242424;
    position: absolute;
     transform: rotateZ(32deg) ;
     top: -170px;
     left: 100px;
  }
  .hair::before{
    position:absolute;
    content:"";
    width: 70px;
    height: 70px;
    background:#242424;
    left:130px;
    transform: rotateZ(56deg);
    top: -166px;
  }
  .ears{
    position: absolute;
    top: 0;
  }
  .ears .leftEar,.rightEar{
    position:absolute; 
    width:110px;
    height:130px;
    background:#242424;
    top:25px;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  }
  
  .ears .leftEar{
    transform: rotateZ(-45deg);
  }
  .ears .rightEar{
    transform: rotateZ(20deg);
    margin-left: 195px;
    top: 33px;
    
  }
  .ears .innerLeftEar,.innerRightEar{
    position:absolute; 
    width:76px;
    height: 86px;
    background: palevioletred;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    z-index: 1;
}
.ears .innerLeftEar{
    transform: rotateZ(-45deg);
    top: 35px;
    left: 14px;
}
.ears .innerRightEar{
    transform: rotateZ(20deg);
    top: 52px;
    margin-left: 215px;
}
.eye .lefteye,.righteye{
    width: 95px;
    height: 118px;
    border-radius: 60% 60% 60% 60%;
    position: absolute;
    z-index: 3;
    margin-top: 32px;
    background: #E6E6E6;
}
.eye .lefteye{
top: 58px;
margin-left: 37px;
}
.eye .righteye{
    top: 58px;
    margin-left: 142px;
}
.eye .lefteyePupil,.righteyePupil{
    width: 50px;
    height: 67px;
    border-radius: 60% 60% 60% 60%;
    position: absolute;
    z-index: 4;
    margin-top: 32px;
    background: #242424;
}
.eye .lefteyePupil{
  top: 75px;
  margin-left: 58px;
}
.eye .righteyePupil{
  top: 75px;
  margin-left: 165px;
}
.eyelid{
    height: 60%;
	width: 100%;
    position: absolute;
    border-radius: 100% 100% 10% 10%;
	animation: blink 6s infinite ease-in-out;
    animation-delay: 7s;
    z-index: 5;
}
  .body{
    width: 350px;
    height: 250px;
    position:absolute;
    
    border-radius: 50% / 80% 80% 50% 50%;
    background:#242424;
  margin-left: -40px;
    top: 236px;
  }
  